body {
    font-family: Arial;
}

.list_block {
    background-color: whitesmoke;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 4px gray;
}