<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div align="center">
    <div style="width: 35%;">
    <h2 class="list_block">Orders API</h2>
    <h3>Functions:</h3>
    <h4>USERS:</h4>
        <div class="list_block">
        <ul align="left">
            <li>GET /users – get all users</li>
            <li>GET /users/ID – get a user with ID</li>
            <li>POST /users/ID – add a new user</li>
            <li>PUT /users/ID – update a user with ID</li>
            <li>DELETE /users/ID – delete a user with ID</li>
        </ul>
        </div>
    <h4>ORDERS:</h4>
        <div class="list_block">
        <ul align="left">
            <li>GET /orders – get all orders</li>
            <li>GET /orders/ID – get an order with ID</li>
            <li>POST /orders/ID – add a new order</li>
            <li>PUT /orders/ID – update an order with ID</li>
            <li>DELETE /orders/ID – delete an order with ID</li>
        </ul>
        </div>
    <h4>OFFERS:</h4>
        <div class="list_block">
        <ul align="left">
            <li>GET /offers – get all offers</li>
            <li>GET /offers/ID – get an offer with ID</li>
            <li>POST /offers/ID – add a new offer</li>
            <li>PUT /offers/ID – update an offer with ID</li>
            <li>DELETE /offers/ID – delete an offer with ID</li>
        </ul>
        </div>
    </div>
    </div>
</body>
</html>